*{
    margin:0px;
}
.front-img{
    width:100%;
    height:608px;
    margin:0px;
    position:relative;
}
.txt1{
    top:10em;
    left:5em;
    position:absolute;
}
@media screen and (min-width:363px) and (max-width:767px){

.front-img{
    width:100%;
    height:300px;
}
}