
body {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center; /* Center the menu items horizontally */
  align-items: center;
  height: 60px;
  width: 100vw;
  background-color: #DCD6F7;
  z-index: 10;
  border-bottom: 2px solid #E3E8ED; 
}

.left-div {
  height: 60px;
  min-width: 217px;
}

.logo-img {
  width: 100px;
  padding-left: 42px;
}

.mid-div {
  flex: 1;
  min-width: 80px;
  height: 60px;
}

.menu-icon {
  margin-right: 22px;
  visibility: visible;
  font-size: 2em;
  margin-top: 17px;
  float: right;
  color: #424874;
  display: block;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

ul {
  height: 60px;
  list-style-type: none;
  display: flex;
  min-width: 167px;
  padding-top: 39px;
  padding-right:174px;
  justify-content: space-around; /* Center the menu items horizontally */
}

.menu-item {
  color: #424874;
  font-family: 'Inclusive Sans', sans-serif;
  font-weight:600;
  padding: 12px;
  border-radius: 20px;
  transition: all 0.5s;
}

.menu-item:hover {
  
  background-color: #424874;
  color: #F4EEFF;
  box-shadow: 1px 2px 3px #424874;
  border-radius: 20px;
  margin: 1px;
  cursor: pointer;
}

.menu-item:active {
  opacity: 0.4;
}

@media screen and (min-width: 350px) and (max-width: 767px) {
  nav {
    width: 100vw;
  }

  .menu-icon {
    margin-top: 0px;
    margin-right: 50px;
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #424874;
    top: 47px;
    left: -400%;
    padding: 0px;
    text-align: center;
    flex-direction: column;
    transition: all 0.5s;
    z-index: 200;
  }

  .menu-item {
    color: #F4EEFF;
    font-weight: 900;
    line-height: 5em;
    padding: 0px;
    display: flex; /* Add display: flex; */
    align-items: center; /* Vertically center the text */
    justify-content: center; /* Horizontally center the text */
  }

  .menu-item:hover {
    background-color: #F4EEFF;
    color: #424874;
  }

  #check:checked ~ ul {
    left: 0;
    visibility: visible;
  }
}
